In [1]:
#function
def changeme(mylist):
    mylist.append([1,2,3])
    print("value inside the function : ",mylist)
    return

mylist=[4,5,6]
changeme(mylist)
print("Value outside : ",mylist)

value inside the function :  [4, 5, 6, [1, 2, 3]]
Value outside :  [4, 5, 6, [1, 2, 3]]

In [2]:
#pass by value
def changeme(mylist):
    mylist=[1,2,3]
    print("value inside the function : ",mylist)
    return

mylist=[4,5,6]
changeme(mylist)
print("Value outside : ",mylist)

value inside the function :  [1, 2, 3]
Value outside :  [4, 5, 6]

In [17]:
#Pass by Reference
a=[1,2,3,4]
def hello(x):
    x[0]=12
    print("Value Inside",x)
    return
hello(a)
print("value Outside",a)

Value Inside [12, 2, 3, 4]
value Outside [12, 2, 3, 4]

In [4]:
def changeme(str):
    print("value inside the function : ",str)
    return

changeme(str="Adarsh")
print("Value outside : ",str)

value inside the function :  Adarsh
Value outside :  <class 'str'>

In [6]:
def myfunc(name,age):
    print("Name :",name)
    print("Age :",age)
    return

myfunc(age=22,name="Adarsh")

Name : Adarsh
Age : 22

In [7]:
def add(a,b):
    sum=a+b
    return sum

val=add(8,9)
print(val)

17

In [8]:
def printinfo(name,age=22):
    print("Name is :",name)
    print("Age is :",age)
    return

printinfo("Adarsh",20)
printinfo("AK")

Name is : Adarsh
Age is : 20
Name is : AK
Age is : 22

In [11]:
def func(arg1,*vars):
    print("Output is :")
    print(arg1)
    for var in vars:
        print(var)
    return

func(10)
func("a","b","c")

Output is :
10
Output is :
a
b
c

In [12]:
sum = lambda arg1,arg2 : arg1+arg2

print("Value is :", sum(20,20))

Value is : 40

In [26]:
def sum1(num1,num2):
    total=num1+num2
    return total

sum1(20,20)
# print("The sum of two numbers is :",val)

40

In [15]:
total=0

def sun(a,b):
    total=a+b
    print("Total inside function:",total)
    return
sun(20,20)
print("Total outside:",total)

Total inside function: 40
Total outside: 0

In [22]:
import math

content = dir(math)
print(content)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [23]:
Money = 2000
def AddMoney():
   global Money
   Money = Money + 1

print(Money)
AddMoney()
print(Money)

2000
2001

In [26]:
print("python is really an interesting language,","isn't it?")

python is really an interesting language, isn't it?

In [30]:
str = input("Enter your input ")
print("Your input is, ", str)

Enter your input Adarsh
Your input is,  Adarsh

In [44]:
def sum():
    a=int(input("Enter the num1: "))
    b=int(input("Enter the num2: "))
    print("Sum of %d and %d is "%(a,b))
    total=a+b
    return total

total=sum()
print(total)

Enter the num1: 10
Enter the num2: 20
Sum of 10 and 20 is
30

In [61]:
a=[x*5 for x in range(2,10,2)]
print(a)

[10, 20, 30, 40]

In [6]:
try:
    fo=open("exampe","w")
    fo.write("This is my file for exception handling ")
except Exception:
    print("Error: Cant find file or read data")
else:
    print("Written content to the file successfully")
    fo.close()

Written content to the file successfully

In [10]:
try:
    fh = open("testfile", "w")
    fh.write("This is my test file for exception handling!!")
except IOError:
    print("Error: can\'t find file or read data")
else:
    print("Written content in the file successfully")
    fh.close()

Written content in the file successfully

In [11]:
try:
    fh = open("testfile", "r")
    fh.write("This is my test file for exception handling!!")
except IOError:
    print("Error: can\'t find file or read data")
else:
    print("Written content in the file successfully")
    fh.close()

Error: can't find file or read data

In [19]:
try:
    fh = open("testfile", "w")
    fh.write("This is my test file for exception handling!!")
except IOError:
    print("Error: can\'t find file or read data")
finally:
    print("Going to close the file")
    fh.close()

Going to close the file

In [18]:
def temp_convert(var):
    try:
        return int(var)
    except Exception as e:
      print("The argument does not contain numbers\n", str(e))

# Call above function here.
temp_convert("xyz");

The argument does not contain numbers
 invalid literal for int() with base 10: 'xyz'

In [20]:
class MyFirstClass:
    'This is info about Class'
    pass

In [27]:
class Employee:
    'BaseClass for all employees'
    empCount=0 #class variable whose value is shared among all instances, Employee.empCount
    
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
        Employee.empCount+=1

    def display_count(self):
        print("Total Employees : %d" % (Employee.empCount))
    
    def display_employee(self):
        print("Name : ",self.name)
        print("Salary : ",self.salary)

#To create instances of a class, you call the class using class name and pass in whatever arguments its __init__ method accepts.
#1st obj
emp1=Employee("Zara",2000)
#2nd obj
emp2=Employee("Mani",1000)

#accessing attributes using '.' operator

emp1.display_employee()
emp2.display_employee()

print("Total Employees : %d" % (Employee.empCount))

Name :  Zara
Salary :  2000
Name :  Mani
Salary :  1000
Total Employees : 2

In [29]:
class Programmer:
    
    def setName(self,n):
        self.name=n
    
    def getName(self):
        return self.name
    
    def setSalary(self,sal):
        self.salary=sal
    
    def getSalary(self):
        return self.salary
    
p1=Programmer()
p1.setName("Adarsh")
p1.setSalary(2000)

print(p1.getName())
print(p1.getSalary())

Adarsh
2000

In [30]:
class Student:
    major="CSE"      #static field
    
    def __init__(self,rollno,name):
        self.rollno=rollno
        self.name=name
    
s1=Student(1,"John")
s2=Student(2,"Mary")
print(s1.major)
print(s2.major)
print(s1.name)
print(s2.name)
print(Student.major)

CSE
CSE
John
Mary
CSE

In [31]:
class objcount:
    no_of_obj=0
    
    def __init__(self):
        objcount.no_of_obj+=1
        
    @staticmethod
    def display():
        print(objcount.no_of_obj)

ob1=objcount()
ob2=objcount()

objcount.display()

2

In [33]:
#inner class

class car:
    def __init__(self,make,year):
        self.make=make
        self.year=year
    
    class engine:
        def __init__(self,num):
            self.number=num
        
        def start(self):
            print("Engine Started")
        
c=car("BMW",2019)
e=c.engine(123)
e.start()

Engine Started

In [34]:
import gc

print(gc.isenabled())
gc.disable()
print(gc.isenabled())
gc.enable()
print(gc.isenabled())

True
False
True

In [39]:
student={"John":["java","js","cad"],"Bill":["python","mongo","sql"],"Mark":["js","angular","react"]}
k=student.keys()
for i in k:
    print("The courses taken by ",i,"are: ")
    for j in student[i]:
        print(j)

The courses taken by  John are:
java
js
cad
The courses taken by  Bill are:
python
mongo
sql
The courses taken by  Mark are:
js
angular
react

In [43]:
print("I am \"Adarsh\"")

I am "Adarsh"

In [49]:
x=1
while(x<=20):
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [56]:
#Snippet to print odd numbers between 2 nos
x=int(input("Enter min number"))
y=int(input("Enter max number"))

i=x
if i % 2 == 0: i+=1
while(i<y):
    print(i)
    i+=2

Enter min number2
Enter max number10
3
5
7
9

In [59]:
for i in range(50,71,2):
    print(i)

50
52
54
56
58
60
62
64
66
68
70

In [61]:
#Product of numbers in list
lst=[1,2,3,4,5]
prod=1

for i in lst:
    prod*=i
print(prod)

120

In [62]:
x=int(input("Enter a number to multiply"))

for i in range(1,11):
    print(x,"X",i,"=",i*x)

Enter a number to multiply2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [63]:
x=0
while x<20:
    x+=1
    if x%3==0:
        continue
    print(x)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

In [67]:
x=int(input("Enter a number greater than 10: "))
assert x>10,"Wrong Number Entered"
print("U Entered",x)

Enter a number greater than 10: 12
U Entered 12

In [68]:
#Remove duplicate elements from list
l1=eval(input("Enter the list elements"))
l2=[]
for x in l1:
    if x not in l2:
        l2.append(x)
print(l2)

#Another method
# l1=eval(input("Enter the list elements"))
# s1=set(l1)
# print(s1)

Enter the list elements[10,20,20,30,40,50,40]
[10, 20, 30, 40, 50]

In [87]:
x=int(input("Enter the number of employees"))
employee = {}
for i in range(x):
    name=input("Enter Name : ")
    salary=int(input("Enter Salary: "))
    print("salary",salary)
    employee[name]=salary
while True:
    name=(input("Enter Employee name"))
    salary=employee.get(name,-1)
    if salary==-1:
        print(name," Doesnt exist")
    else:
        print("Salary of ",name," is ",salary)
    choice=input("Do you want to know salary of another Employee? Yes/No")
    if choice=='No':
        break

Enter the number of employees2
Enter Name : Adarsh
Enter Salary: 1000
salary 1000
Enter Name : Nitin
Enter Salary: 2000
salary 2000
Enter Employee nameChirag
Chirag  Doesnt exist
Do you want to know salary of another Employee? Yes/Noy
Enter Employee nameAdarsh
Salary of  Adarsh  is  1000
Do you want to know salary of another Employee? Yes/Nono
Enter Employee namen
n  Doesnt exist
Do you want to know salary of another Employee? Yes/NoNo

In [97]:
s=input("Enter a string to reverse")
#print(s[::-1])
result=''
i=len(s)-1
while i>=0:
    result=result+s[i]
    i-=1
print("Reversed string is",result)

Enter a string to reverseadarsh
Reversed string is hsrada

In [101]:
s=input("Enter a string to reverse: ")
print(''.join(reversed(s)))

Enter a string to reverse: adarsh
hsrada

In [114]:
n=int(input("Enter the number of rows: "))
for i in range(0,n):
    print(i)
    for j in range(0,i+1):
        print(j)
        print("*",end=' ')
    print()

Enter the number of rows: 3
0
0
*
1
0
* 1
*
2
0
* 1
* 2
*

In [113]:
n=int(input("Enter the number of rows: "))
for i in range(n+1,0,-1):
    for j in range(0,i-1):
        print("*",end=' ')
    print()

Enter the number of rows: 3
* * *
* *
*

In [117]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=' ')
    print()

Enter the number of rows: 3
*
* *
* * *

In [142]:
l=[10,2,1,9,3,7]
for i in range(0,len(l)):
    #print(i)
    for j in range(i+1,len(l)):
        #print(j)
        if l[i]+l[j]==11:
            print(l[i],l[j])

10 1
2 9

In [149]:
l=[2,1,9,11,7]
# l.sort()
# print(l)
for i in range(0,len(l)):
    for j in range(i+1,len(l)):
        if l[i]>l[j]:
            l[i],l[j]=l[j],l[i]
print(l)

[1, 2, 7, 9, 11]

In [154]:
str="Adarsh"
#print(str[::-1])
rev=''
i=len(str)-1
while i>=0:
    rev=rev+str[i]
    i-=1
print(rev)

hsradA

In [159]:
str1="Adarsh"
str2=""
for i in str1:
    print(i)
    str2= str2+i
    print(str2)
print(str2)

A
A
d
Ad
a
Ada
r
Adar
s
Adars
h
Adarsh
Adarsh

In [178]:
name="nithin"
check=[]
for i in name:
    if i not in check:
        check.append(i)
        print(i,name.count(i))
#print(check)
# out = ''.join(check)
# print(out)
# for i in check:
#print(i,name.count(i))

n 2
i 3
t 1
h 1

In [181]:
name="nithin"
for i in range(0,len(name)):
    if i%2==0:
        print(name[i])
    #print(i)

n
t
i

In [195]:
l=[2,8,"hello",9,"ad"]
for i in l:
    if type(i)== str:
        print("Hi")
    else:
        print("Bye")

Bye
Bye
Bye
Bye
Bye

In [307]:
l=[1,0,1,0,1,1,1,0,1,1,1,1,0,1,1,1,1,1,1,0,0,0,0,0,0,0]
count=0
res=0
for i in range(0,len(l)):
    if l[i]==1:
        count+=1
        if count>res:
            res=count
    else:
        count=0
        
print(res)

6

In [216]:
#function inside another function

def func1(name):
    def message():
        return "Hello "   
    result = message() + name
    return result

print(func1("Adarsh"))

Hello Adarsh

In [220]:
#passing function as a parameter to another function

def func1(fun):
    return "Hello "+fun
def name():
    return "Adarsh"

print(func1(name()))

Hello Adarsh

In [223]:
#Returning Functions

def fun1():
    def message():
        return "Hello!"
    return message

fun=fun1()
print(fun())

Hello!

In [224]:
#Passing a list as parameter to function

def func1(lst):
    for i in lst:
        print(i)
func1([1,2,3,4])

1
2
3
4

In [225]:
#Recursion

def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)

print(fact(5))

120

In [226]:
#keyword args

def func1(a,b):
    print("a=",a)
    print("b=",b)
    return (a+b)/2
print(func1(b=20,a=10))

a= 10
b= 20
15.0

In [227]:
#default args

def func1(a=10,b=20):
    print("a=",a)
    print("b=",b)
    return (a+b)/2
print(func1(a=20))

a= 20
b= 20
20.0

In [228]:
#BMI

def calc(h,w):
    h_in_m=h*0.4536
    bmi=w/(h_in_m*h_in_m)
    return bmi

print("BMI is: ",calc(5.2,70))

BMI is:  12.581871951925768

In [250]:
#optional args and keyword args

def func1(x,*args,**kwargs):
    print("lll",x)
    print("Optional args:-")
    for x in args:
        print(x)
    print("Keyword args:-")
    for i,j in kwargs.items():
        print(i,":",j)
func1(10,20,30,name="Adarsh",sal=100)

lll 10
Optional args:-
20
30
Keyword args:-
name : Adarsh
sal : 100

In [255]:
#passing opt and kwargs to other function with modification

def func1(x,*args,**kwargs):
    print("xxxx",x)
    print("Optional args:-")
    m_args=args+(40,)
    print("m_args",m_args)
    kwargs['age']=22
    for x in args:
        print(x)
    print("Keyword args:-")
    for i,j in kwargs.items():
        print(i,":",j)
    fun2(*m_args,**kwargs)
def fun2(*args,**kwargs):
    print(args)
    print(kwargs)
func1(10,20,30,name="Adarsh",sal=100)

xxxx 10
Optional args:-
m_args (20, 30, 40)
20
30
Keyword args:-
name : Adarsh
sal : 100
age : 22
(20, 30, 40)
{'name': 'Adarsh', 'sal': 100, 'age': 22}

In [256]:
#Lambda Function
f=lambda x:x**3
print(f(3))

27

In [258]:
#yes if even else no

l=lambda x: 'Yes' if x%2==0 else 'No'
print(l(7))
print(l(10))

No
Yes

In [259]:
sum =lambda x,y: (x+y)
print(sum(10,20))

30

In [263]:
#Filter function
#Printing even numbers from a list

lst=[10,7,9,12,2,5]

s=list(filter(lambda x:x%2==0,lst))
print(s)

[10, 12, 2]

In [264]:
#Map function
#Doubling the elements of list

lst=[2,3,4,5]

s=list(map(lambda x:x*2,lst))
print(s)

[4, 6, 8, 10]

In [268]:
#Using Reduce function
#Sum of elements of list
from functools import reduce
lst=[5,10,15,20]
s=reduce(lambda x,y:x+y,lst)
print(s)

50

In [285]:
#Decorator
#Doubles a number returned by a function

def decor(fun):
    print("entrerd decor",fun())
    def inner():
        res=fun()
        return res*2
    return inner

def num():
    print("entered function")
    return 5

resfun=decor(num)
print(resfun())

entered function
entrerd decor 5
entered function
10

In [286]:
#using @decorator

def decor(fun):
    def inner():
        res=fun()
        return res*2
    return inner

@decor
def num():
    return 5

print(num())

10

In [292]:
#decorating strings

def decorfun(fun):
    def inner(n):
        res=fun(n)
        res +=" How are you?"
        return res
        
    return inner

@decorfun
def hello(name):
    return "Hello "+name

print(hello("John"))

Hello John How are you?

In [295]:
import keyword 

print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [299]:
from math import *

print(sqrt(9))
print(floor(7.9))
print(ceil(7.2))
print(fabs(-2.2))

print(dir('math'))

3.0
7
8
2.2
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [303]:
from random import *

# for i in range(10):
#     print(random())

for i in range(10):
    print(randint(1,50))

21
48
41
12
13
39
48
19
18
25

In [308]:
from random import *
lst=["java","python","js","web"]
for i in range(1):
    print(choice(lst))

js

In [339]:
#1st unique character in a string
str1="adarsh"
for i in str1:
#     print(i,str1.count(i))
    if str1.count(i)==1:
        print(i)
        break

d

In [341]:
#cube of numbers in list

'''lst=[]
for x in range(1,11):
    lst.append(x**3)
print(lst)'''

#Using list comprehension
lst=[]
lst=[x**3 for x in range(1,11)]
print(lst)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [345]:
#even numbers in list b/w 1 and 20
'''
lst=[x for x in range(2,21,2)]
print(lst)'''

lst=[x for x in range(1,21) if x%2==0]
print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [348]:
#Product of numbers in a list
a=[2,3,4,5,6]
b=[6,7,8,9,10]
z=[]
'''
for x in range(len(a)):
    z.append(a[x]*b[x])
print(z)
'''

#Using list comprehension
z=[a[i]*b[i] for i in range(len(a))]
print(z)

[12, 21, 32, 45, 60]

In [350]:
#Common elements in list

a=[1,2,3,4]
b=[2,4,5,6]
c=[]

"""for i in a:
    if i in b:
        c.append(i)
print(c)"""

c=[i for i in a if i in b]
print(c)

[2, 4]

In [352]:
#Create class
class Product:
    def __init__(self):
        self.name="IPhone"
        self.description="Its Awesome"
        self.price=10000
p1=Product()
print(p1.name)
print(p1.description)
print(p1.price)

p2=Product()
print(p2.name)
print(p2.description)
print(p2.price)

IPhone
Its Awesome
10000
IPhone
Its Awesome
10000

In [354]:
#Parameterized constructor
class Course:
    
    def __init__(self,name,ratings):
        self.name=name
        self.ratings=ratings
        
c1=Course("Java",[1,2,3,4,5])
print(c1.name)
print(c1.ratings)

c2=Course("java web services",[5,5,5,5,5])
print(c2.name)
print(c2.ratings)

Java
[1, 2, 3, 4, 5]
java web services
[5, 5, 5, 5, 5]

In [373]:
#Defining Instance method
class Course:
    
    def __init__(self,name,ratings):
        self.name=name
        self.ratings=ratings
    def sum_of_ratings(self,ratings):
        #print(ratings)
        self.ratings=ratings
        sum=0
        for i in range(0,len(ratings)):
            sum += ratings[i]
            #print(sum)
        return sum
#       
    def average(self):
        number_of_ratings=len(self.ratings)
        sum  = self.sum_of_ratings(self.ratings)
        print(sum)
        avg= sum/number_of_ratings
        print(avg)

c1=Course("Java",[1,2,3,4,5])
c1.average()

[1, 2, 3, 4, 5]
15
3.0

In [376]:
#Getter and setter

class programmer:
    def setname(self,n):
        self.name=n
    def getname(self):
        return self.name
    
    def setsalary(self,s):
        self.salary=s
    def getsalary(self):
        return self.salary
    
    def settech(self,t):
        self.tech=t
    def gettech(self):
        return self.tech

p1=programmer()
p1.setname("Adarsh")
p1.setsalary(100)
p1.settech(["Java","Python"])

print(p1.getname())
print(p1.getsalary())
print(p1.gettech())

Adarsh
100
['Java', 'Python']

In [377]:
#Define Instance Methods
class Product:
    def __init__(self):
        self.name="IPhone"
        self.description="Its Awesome"
        self.price=10000
        
    def display(self):
        print(self.name)
        print(self.description)
        print(self.price)

        
p1=Product()
p1.display()

p2=Product()
p2.display()

IPhone
Its Awesome
10000
IPhone
Its Awesome
10000

In [381]:
#no_of_objects

class objc:
    objcount=0
    
    def __init__(self):
        objc.objcount+=1
    
    @staticmethod
    def display():
        print(objc.objcount)
        
ob1=objc()
ob2=objc()
objc.display()

2

In [362]:
#Sum of elements of list
lst=[1,2,3,4,5]
sum=0
for i in range(0,len(lst)):
    sum+=lst[i]
print(sum)

15

In [382]:
#Inner class

class car:
    
    def __init__(self,make,year):
        self.make=make
        self.year=year
    
    class engine:
        def __init__(self,num):
            self.number=num
        def start(self):
            print("Engine started")
c=car("BMW",2019)
e=c.engine(123)
e.start()

Engine started

In [386]:
#Encapsulation
#Private fields can only be accessed by private methods


class student:
    def __init__(self):
        self.__id=1                   #private field 
        self.__name="Adarsh"          #private field
        
    def display(self):
        print(self.__id)
        print(self.__name)

s1=student()
# print(s1.id)
# print(s1.name)
s1.display()


#also access it by(Name mangling)
#print(s1._student__id)     #object._classname__field

1
Adarsh
1

In [388]:
#Inheritance

class BMW:
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year

class ThreeSeries(BMW):
    def __init__(self,CruiseControlEnabled,make,model,year):
        BMW.__init__(self,make,model,year)
        self.CruiseControlEnabled=CruiseControlEnabled
class FiveSeries(BMW):
    def __init__(self,ParkAssistEnabled,make,model,year):
        BMW.__init__(self,make,model,year)
        self.ParkAssistEnabled=ParkAssistEnabled

threeseries=ThreeSeries(True,"BMW","328i",2019)
print(threeseries.CruiseControlEnabled)
print(threeseries.make)
print(threeseries.model)
print(threeseries.year)

True
BMW
328i
2019

In [389]:
#Inheritance
class BMW:
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year

    def start(self):
        print("Starting the car")
    
    def stop(self):
        print("Stopping the car")

class threeseries(BMW):
    def __init__(self,cruisecontrolenabled,make, model, year):
        BMW.__init__(self,make, model, year) 
        self.cruisecontrolenabled=cruisecontrolenabled
    
    def display(self):
        print(self.cruisecontrolenabled)

class fiveseries(BMW):
    def __init__(self,parkassistenabled, make, model, year):
        BMW.__init__(self,make, model, year)
        self.parkassistenabled=parkassistenabled

    def display(self):
        print(self.parkassistenabled)

threeseriesobj=threeseries(True,"BMW","328i",2019)
print(threeseriesobj.cruisecontrolenabled)
print(threeseriesobj.make)
print(threeseriesobj.model)
print(threeseriesobj.year)

threeseriesobj.start()
threeseriesobj.stop()
threeseriesobj.display()

fiveseriesobj=fiveseries(True,"BMW","535d",2021)
fiveseriesobj.display()

True
BMW
328i
2019
Starting the car
Stopping the car
True
True

In [390]:
#overriding in inheritance

class BMW:
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year

    def start(self):
        print("Starting the car")
        
class threeseries(BMW):
    def __init__(self,cruisecontrolenabled,make, model, year):
        BMW.__init__(self,make, model, year) 
        self.cruisecontrolenabled=cruisecontrolenabled
    
    def display(self):
        print(self.cruisecontrolenabled)
        
    #Overriding is done here
    def start(self):
        print("Button start")
        

class fiveseries(BMW):
    def __init__(self,parkassistenabled, make, model, year):
        BMW.__init__(self,make, model, year)
        self.parkassistenabled=parkassistenabled
        
threeseriesobj=threeseries(True,"BMW","328i",2019)
print(threeseriesobj.cruisecontrolenabled)
print(threeseriesobj.make)
print(threeseriesobj.model)
print(threeseriesobj.year)

threeseriesobj.start()
threeseriesobj.display()

True
BMW
328i
2019
Button start
True

In [391]:
#Using super()

class BMW:
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year

    def start(self):
        print("Starting the car")
        
class threeseries(BMW):
    def __init__(self,cruisecontrolenabled,make, model, year):
        super().__init__(make, model, year) 
        self.cruisecontrolenabled=cruisecontrolenabled
    
    def display(self):
        print(self.cruisecontrolenabled)
        
    #Overriding is done here
    def start(self):
        super().start()
        print("Button start")
        

class fiveseries(BMW):
    def __init__(self,parkassistenabled, make, model, year):
        super().__init__(self,make, model, year)
        self.parkassistenabled=parkassistenabled
        
threeseriesobj=threeseries(True,"BMW","328i",2019)
print(threeseriesobj.cruisecontrolenabled)
print(threeseriesobj.make)
print(threeseriesobj.model)
print(threeseriesobj.year)

threeseriesobj.start()
threeseriesobj.display()

True
BMW
328i
2019
Starting the car
Button start
True

In [392]:
#Polymorphism

#Duck Typing

class Duck:
    def talk(self):
        print("Quack Quack")

class Human:
    def talk(self):
        print("Hello")

def callTalk(obj):
    obj.talk()

d=Duck()
callTalk(d)

h=Human()
callTalk(h)

Quack Quack
Hello

In [393]:
#Dependency_injection(polymorphism)

class Flight:
    def __init__(self,engine):
        self.engine=engine
    
    def startEngine(self):
        self.engine.start()

class AirBus:
    def start(self):
        print("Airbus Engine Started")

class Boing:
    def start(self):
        print("BoingEngine started")

ae=AirBus()
f1=Flight(ae)
f1.startEngine()

be=Boing()
f2=Flight(be)
f2.startEngine()

Airbus Engine Started
BoingEngine started

In [394]:
#Polymorphism(Operator Overloading)

x=20
y=10
print(x+y)

s1="Hello"
s2=",How are you?"
print(s1+s2)

l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)

30
Hello,How are you?
[1, 2, 3, 4, 5, 6]

In [395]:
#Create an abstract class

from abc import abstractmethod,ABC

class BMW(ABC):
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year

    def start(self):
        print("Starting the car")
    
    def stop(self):
        print("Stopping the car")

    @abstractmethod
    def drive(self):
        pass

class threeseries(BMW):
    def __init__(self,cruisecontrolenabled,make, model, year):
        BMW.__init__(self,make, model, year) 
        self.cruisecontrolenabled=cruisecontrolenabled
    
    def display(self):
        print(self.cruisecontrolenabled)

    def drive(self):
        print("ThreeSeries is driven")

class fiveseries(BMW):
    def __init__(self,parkassistenabled, make, model, year):
        BMW.__init__(self,make, model, year)
        self.parkassistenabled=parkassistenabled

    def display(self):
        print(self.parkassistenabled)
    
    def drive(self):
        print("FiveSeries is driven")


threeseriesobj=threeseries(True,"BMW","328i",2019)
print(threeseriesobj.cruisecontrolenabled)
print(threeseriesobj.make)
print(threeseriesobj.model)
print(threeseriesobj.year)

threeseriesobj.start()
threeseriesobj.stop()
threeseriesobj.display()

fiveseriesobj=fiveseries(True,"BMW","535d",2021)
fiveseriesobj.display()

True
BMW
328i
2019
Starting the car
Stopping the car
True
True

In [397]:
#interface
#when all methods of class are abstract

from abc import abstractmethod,ABC

class BMW(ABC):
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year
    @abstractmethod
    def start(self):
        pass
    @abstractmethod
    def stop(self):
        pass

    @abstractmethod
    def drive(self):
        pass

class threeseries(BMW):
    def __init__(self,cruisecontrolenabled,make, model, year):
        BMW.__init__(self,make, model, year) 
        self.cruisecontrolenabled=cruisecontrolenabled
    
    def display(self):
        print(self.cruisecontrolenabled)
    
    def start(self):
        print("Started car")

    def drive(self):
        print("ThreeSeries is driven")

    def stop(self):
        print("Car stopped")

class fiveseries(BMW):
    def __init__(self,parkassistenabled, make, model, year):
        BMW.__init__(self,make, model, year)
        self.parkassistenabled=parkassistenabled

    def display(self):
        print(self.parkassistenabled)
    
    def drive(self):
        print("FiveSeries is driven")

    def start(self):
        print("Started car")

    def stop(self):
        print("Car stopped")
        
threeseriesobj=threeseries(True,"BMW","328i",2019)
print(threeseriesobj.cruisecontrolenabled)
print(threeseriesobj.make)
print(threeseriesobj.model)
print(threeseriesobj.year)

threeseriesobj.start()
threeseriesobj.stop()
threeseriesobj.display()

fiveseriesobj=fiveseries(True,"BMW","535d",2021)
fiveseriesobj.display()

True
BMW
328i
2019
Started car
Car stopped
True
True

In [399]:
#Exception handling

try:
    a,b=[int(x) for x in input("Enter two numbers:").split()]
    c=a/b
    print(c)
    
except ZeroDivisionError:
    print("division by zero not allowed")
    print("Please enter non zero num")
print("Code after exception")

Enter two numbers:4 0
division by zero not allowed
Please enter non zero num
Code after exception

In [400]:
#Custom Exception

class OverTheLimit(Exception):
    def __init__(self,msg):
        self.msg=msg
    
def withdrawl(amount):
    if amount>500:
        raise OverTheLimit("You cannot withdraw more than 500$")

withdrawl(600)

OverTheLimit: You cannot withdraw more than 500$

In [402]:
class TooYoungException(Exception):
    def __init__(self,msg):
        self.msg=msg

class TooOldException(Exception):
    def __init__(self,msg):
        self.msg=msg

age=int(input("Enter the age: "))
if age<18:
    raise TooYoungException("You are too young for licence")
elif age>60:
    raise TooOldException("You are too old for licence")

Enter the age: 61

TooOldException: You are too old for licence

In [403]:
#assert

num=int(input("Enter an even number: "))
assert num%2==0,"You have entered odd number"

Enter an even number: 9

AssertionError: You have entered odd number

In [ ]:
f=open("sample.txt","r")
print(f.read())     #Reads entire file
f.seek(0)           #moving cursor back to the 0th location
print(f.readline()) #Reads single line
print(f.readlines()) #Returns list of data in file

In [ ]:
#WRITE
f=open("sample.txt","w+")
f.write("Python is fun \n")  
f.writelines(['Python \n','DRF \n','Django \n','Docker \n']) #writing list to file
print('Cursor is at',f.tell())
f.seek(0)
print(f.read())
f.close()

In [404]:
#Regular Expression

import re
str = "Take up 1 one idea.one 23 idea at 45 a time 22-12-2033"
res=re.search(r'o\w\w',str)  #return string starting with o and followed by 2 chars
print(res.group())

res=re.findall(r'o\w\w',str)  #return list starting with o and followed by 2 chars
print(res)

res=re.match(r'o\w\w',str)  #return string starting with o and followed by 2 chars
print(res)

res=re.split(r'\d+',str)
print(res)

res=re.sub(r'one','two',str)
print(res)

res=re.findall(r'\d{1,2}-\d{1,2}-\d{4}',str)
print(res)

res=re.findall(r'o\w+',str)  #return list starting with o and followed by 2 chars
print(res)

one
['one', 'one']
None
['Take up ', ' one idea.one ', ' idea at ', ' a time ', '-', '-', '']
Take up 1 two idea.two 23 idea at 45 a time 22-12-2033
['22-12-2033']
['one', 'one']

In [1]:
print(3**3)

27

In [1]:
import json
import pymongo

def lambda_handler(event, context):
    client = pymongo.MongoClient('mongodb://localhost:27017') #My db connection here. 
    db = client.Employee
    col = db.profile
    col.find_one({'emp_name':'Nithin'})
    foundedUser = col.find_one({'emp_name':'Nithin'})
    print(foundedUser)
    client.close()
    return{
        "statusCode":200,
        "body":json.dumps("Hello from lambda")
    }

ModuleNotFoundError: No module named 'pymongo'

In [6]:
from pymongo import MongoClient

In [7]:
import pymongo

def lambda_handler(event, context):
    client = pymongo.MongoClient('mongodb://localhost:27017') #My db connection here. 
    db = client.Employee
    col = db.profile
    col.find_one({'emp_name':'Nithin'})
    foundedUser = col.find_one({'emp_name':'Nithin'})
    print(foundedUser)
    client.close()
    return{
        "statusCode":200,
        "body":json.dumps("Hello from lambda")
    }

In [41]:
from pymongo import MongoClient

In [42]:
client = MongoClient()

In [43]:
db=client.student

In [44]:
col=db.profile

In [45]:
db.list_collection_names

In [46]:
data=[{"rollno":1,"name":"Adarsh"},{"rollno":2,"name":"Anish"}]
col.insert_many(data)

In [47]:
x=col.find_one({'rollno':2})

In [48]:
print(x)

{'_id': ObjectId('63a00e5da071b549f0e23140'), 'rollno': 2, 'name': 'akash'}

In [49]:
x.pop("_id",None)

ObjectId('63a00e5da071b549f0e23140')

In [50]:
print(x)

{'rollno': 2, 'name': 'akash'}

In [51]:
 myquery={'name':'Nihaal'}

In [52]:
 newvalue={'$set':{'name':'akash'}}

In [53]:
x=col.update_one(myquery,newvalue).modified_count

In [54]:
for y in col.find():
    print(y)

{'_id': ObjectId('63a00e5da071b549f0e2313f'), 'rollno': 1, 'name': 'Adarsh'}
{'_id': ObjectId('63a00e5da071b549f0e23140'), 'rollno': 2, 'name': 'akash'}
{'_id': ObjectId('63a0431da071b549f0e23142'), 'rollno': 1, 'name': 'Adarsh'}
{'_id': ObjectId('63a0431da071b549f0e23143'), 'rollno': 2, 'name': 'Anish'}

In [40]:
print(x)

1

In [55]:
myquer={'rollno':1}
newv={'$set':{'name':'updatedname'}}

In [58]:
z=col.update_many(myquer,newv).matched_count

In [59]:
print(z)

2

In [60]:
    if z>0:
        return "Documents Updated"
    else:
        return "Documents Not Updated"

SyntaxError: 'return' outside function (4005824229.py, line 2)